
	body, html {
    	height: 100%;
    	color: #333;
    	line-height: 1.8;
	}

/*.w3-button:hover{color:#000!important;background-color:#ccc!important};*/


.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bgimg-1 {
    background-image: url('img/EliotAtNight.jpg');
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("img/chapelAtNight.jpg");  /*img_7572_7215627206_o.jpg */
    height: 200px;
}

.logo{
	width:50px;
	height:48px; 
	margin: auto;
}

#homeDiv{
	width: 100%;
	height: 150px; 
	background-image: url('img/EliotAtNight.jpg');
	 background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    border: 1px solid transparent;
}
.myClubsTable{
	width: 100%;
	height: 450px;
}
.tableItem{
	border: 2px solid black;
	width: 100%;
	height: 33.33333%;
	text-align: center;
	background-color: black; /* #CF003D mx colors*/
	color: white;

}

.js-tilt{
	transform-style: preserve-3d;
}

.anoucements{
	border: 2px solid black;
	width: 100%;
	height: 200px;
	position: relative;
}
.events{
	border: 2px solid black;
	width: 100%;
	height: 200px;
	position: relative;
	margin-top: 48px

}
.A-E{
	width: 75%;
	height: 448px;
	margin-top: 96px;
}
.lItem{
	text-align: center;
	background-color: black; /*c36f66*/ 
	width: 33.33%;
	color: white;

}
.table{
	width: 100%;
	height: 250px;
}
tr{
	
}
td{
	/* table data */
}

